{{template "base" .}}

{{define "content"}}

<h1>About Page</h1>
<p>this came from the template: {{index .StringMap "test"}}</p>
<p>
    {{if ne (index .StringMap "remote_ip") ""}}
    your remote up is {{index .StringMap "remote_ip"}}
    {{else}}
    i dont know your ip address yet. Visit the <a href="/">Home Page</a> so i can set it.
    {{end}}
</p>

{{end}}